.main-area {
  background: #55C34D;
  margin-top: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-height-sm {
  height: 50px;
}

.input-height-md {
  height: 80px;
}

.main-area .inputs-image .d-inline-block {
  padding-top: 1px;
  padding-bottom: 1px;
}

.main-area .d-inline-block .btn-outline-primary {
  width: 100%;
  font-size: 1em;
  color: black;
  height: 100%;
  border: none;
  background: white;
  border-radius: 0px;
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-area .d-inline-block .btn-outline-primary:hover {
  background: #55C34D;
  border: 1px solid white;
  color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.main-area .d-inline-block .dropdown-menu {
  padding: 0px;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.main-area .d-inline-block .dropdown-item {
  color: black;
  transition: all 100ms cubic-bezier(0.77, 0, 0.175, 1);
}

.main-area .d-inline-block .dropdown-item:hover {
  background: #55C34D;
  color: white;
}

.main-area .form-group {
  float: left;
  margin-top: 7%;
  width: 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-area input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none
}

.main-area .label {
  width: 120px;
  height: 120px;
  border: 1px solid white;
  background: white;
  display: block;
  padding: 1.2em;
  transition: all 600ms ease-in-out;
  cursor: pointer;
  text-align: center;
  margin-bottom: 0px;
}

.main-area .label fa-icon {
  display: block;
  color: black;
  transition: all 600ms ease-in-out;
}

.main-area .label .title {
  display: block;
  margin-top: 10px;
  color: black;
  transition: all 600ms ease-in-out;
  font-weight: 500;
}

.main-area .label:hover {
  background: #55C34D;
  color: white;
}

.main-area .label:hover fa-icon,
.main-area .label:hover .title {
  color: white;
}

.image-default img {
    height: 200px;
    width: auto;
}